body {
  background-color: #1a1a1a;
  color: #ffffff;
  font-family: Arial, sans-serif;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.calculator {
  max-width: 300px; /* Adjusted width for better symmetry */
  margin: 0 auto;
  background-color: #333;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 20px; /* Adjusted padding for better appearance */
  text-align: center;
}

#result {
  height: 40px;
  font-size: 20px;
  text-align: right;
  margin-bottom: 10px;
  color: #fff;
  background-color: #222;
  border-radius: 12px;
  padding: 8px 16px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

button {
  height: 60px; /* Increased button height for better visibility */
  font-size: 18px;
  background-color: #444;
  color: #fff;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

button:hover {
  background-color:#f44336;
}

#mul{
  padding-top: 10px;
}

button.operator {
  font-size: 24px;
}
